<nav>
    <div class="nav">
        <div class="logo">
            <h2 routerLink="home">NOVA <span>.</span></h2>
        </div>
        <div class="buttons">
            <ul>
                <a routerLink="#home"><li>HOME</li></a>
                <a><li>PRODUCTS</li></a>
                <a><li>SERVICES</li></a>
                <a><li>CONTACT</li></a>
            </ul>
        </div>
        <div class="signin">
            <button><a routerLink="">SIGN IN</a></button>
        </div>
        <div class="toggle">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
</nav>