<div class="mouse" id="home">
    <div class="about">
        <h1>ZETA5 NEXUS</h1>
        <h3>Sleek Design, Powerful Performance With This Gaming Mouse</h3>
        <p>Uniting Precision and Speed. Elevate your computing experience with this cutting-edge mouse designed to seamlessly blend accuracy and agility. Navigate through tasks effortlessly while enjoying a new level of control and responsiveness.</p>
        <p class="price">Rs. 2599</p>
        <div class="btn-1">
            <a class="add" routerLink="">ADD TO CART</a>
            <a class="details" routerLink="">GET DETAILS</a>
        </div>
    </div>
    <div class="image">     
            <img class="mouse-img" data-value="5" src="https://resource.logitech.com/content/dam/gaming/en/products/g502-lightspeed-gaming-mouse/g502-lightspeed-gallery-1.png" alt="">
        <p class="mouse-name">ZETA<span class="five">5</span> <span class="nexus">NEXUS</span></p>
    </div>
</div>
<!-- next section -->
<div class="products">
    <div class="product-info">
        <h1>PRODUCTS</h1>
        <h3>What Gear Are You Looking For?</h3>
    </div>
    <!-- card -->
    <div class="card">
        <div class="ca card-1">
            <div class="image img-1">
                <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE3ciDg?ver=d01e" alt="">
            </div>
        </div>
        <div class="ca card-2">
            <div class="image img-2">
                <img src="https://shop.broot.in/cdn/shop/products/bghmhnm_1200x1200.png?v=1595783217" alt="">
            </div>
            <div class="content"></div>
        </div>
        <div class="ca card-3">
            <div class="image img-3">
                <img src="https://resource.logitech.com/content/dam/gaming/en/products/refreshed-g203/g203-black-gallery-1.png" alt="">
            </div>
            <div class="content"></div>
        </div>
    </div>
    <!-- <div class="names">
        <h3 class="gaming">GAMING</h3>
        <h3 class="headphones">HEADPHONES</h3>
        <h3 class="office">OFFICE</h3>
    </div> -->
</div>

<!-- Services -->

<div class="services">
    <div class="service-info">
        <h1>SERVICE</h1>
        <h3>We Do More Than High-Tech Products</h3>
    </div>
    <div class="card-service">
        <div class="car card-4">
            <div class="ser-img1">
                <img src="https://static.vecteezy.com/system/resources/previews/019/901/901/original/blue-shield-protection-png.png" alt="">
            </div>
            <div class="content-1">
                <h4>Lifetime Guarantee</h4>
                <p>Experience peace of mind with our lifetime guarantee on website services. Our team's expertise ensures top-notch design, development, and maintenance, backed by our commitment to excellence. Your online presence is secure for a lifetime of success.</p>
            </div>
        </div>
        <div class="car card-5">
            <div class="ser-img2">
                <img src="https://static.vecteezy.com/system/resources/previews/012/896/874/original/blue-piggy-bank-dropping-coins-icon-on-transparent-background-3d-rendering-png.png" alt="">
            </div>
            <div class="content-2">
                <h4>Good Price</h4>
                <p>Discover unbeatable value with our competitive pricing. We offer affordability without compromising on quality or service excellence. Your satisfaction is our priority, and we ensure you get the best price for top-tier solutions.</p>
            </div>
        </div>
        <div class="car card-6">
            <div class="ser-img3">
                <img src="https://static.vecteezy.com/system/resources/previews/019/053/814/original/computer-laptop-symbol-png.png" alt="">
            </div>
            <div class="content-3">
                <h4>Free Software Updates</h4>
                <p>Enjoy the convenience of free software updates. We believe in keeping your tools current and efficient, which is why we provide regular updates at no additional cost. Stay ahead with the latest features and enhancements hassle-free.</p>
            </div>
        </div>
        <div class="car card-7">
            <div class="ser-img4">
                <img src="https://www.pngmart.com/files/7/Support-PNG-Transparent-Picture.png" alt="">
            </div>
            <div class="content-4">
                <h4>24X7 Support</h4>
                <p>We're here for you 24x7. Our dedicated support team is always ready to assist you, day or night. With our round-the-clock availability, you can count on timely solutions to any inquiries or issues that may arise. Your satisfaction is our continuous priority.</p>
            </div>
        </div>
    </div>
</div>
<!-- contact -->

<div class="contact">
    <div class="title-contact">
        <h1>CONTACT US</h1>
        <h3>Some Ways For You To Contact Us</h3>
    </div>
    <div class="form">
    <h4>Feel free to send us your message</h4>
    <span class="name-email">
                <input class="name" type="text" placeholder="Your name*" required>
                <input class="email" type="email" placeholder="Your email*" required>
    </span>
        <input class="sub" type="text" placeholder="Subject*" required>
        <textarea class="textarea" name="comment" type="text" placeholder="Message*" required></textarea>
        <button class="submit-1" routerLink="">SUBMIT</button>
    </div>
</div>

<!-- footer -->

